/DesafioBackendVertrau/.vs
/DesafioBackendVertrau/DesafioBackendVertrau/obj
/DesafioBackendVertrau/DesafioBackendVertrau/bin
/DesafioBackendVertrau/appsettings.Development.json
/DesafioBackendVertrau/DesafioBackendVertrau/appsettings.Development.json
